/* CSS Document */

body {
/* margin: 0px; */
/* padding: 0px; */
/* background-color: #DBE3F0; */
background-color: #fefefe; 
/* font: normal 13px "Garamond", serif; */
}

a, a:link a:visited{
color:#003089;
/* font-size:13px; */
text-decoration:none;}

h1{
font-size: 36px;
font-family: sans-serif;
color: #E68300; /*#0D3257;*/
font-weight:bold;
/* margin:0px; */
/* padding-top:15px; */
/* letter-spacing:-2px; */
}

h2{
font-size:30px;
font-weight:bold;
font-family: sans-serif;
color:#0;
/* margin-top:10px; */
/* margin-bottom:0px; */
}

h3{
/*text-transform: uppercase;*/
font-size:20px;
color:#000000;
font-weight:bold;
font-family: sans-serif;
/*background-image:url(images/dots_underline.gif);
background-repeat:repeat-x;
background-position: 0px 16px;*/
}

